<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.project5">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/meals_logo2"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/close"
        android:screenOrientation="portrait">
        <activity android:name=".Activity.IntroduceActivity"></activity>
        <activity android:name=".Activity.DevActivity" />
        <activity
            android:name=".Activity.MealsActivity"
            android:theme="@style/close" /> <!-- SchoolActivity -->
        <activity
            android:name=".Activity.SchoolActivity"
            android:windowSoftInputMode="stateAlwaysHidden" /> <!-- SplashActivity -->
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/close">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity -->
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/close" />
    </application>

</manifest>